/* Especificidad =  001 */
body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.8;
    color: #981D3E;
    background-color: #f6f6f6;
	background-size: cover;
  }
/* Especificidad =  001 */
h1,h2 {
    color: #7e122f;
    text-transform: uppercase;
    text-align: center;     
}
/* Especificidad =  001 */
main{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	
}
/* Especificidad =  001 */
footer{	
	background-color:#505050;
	color: #ffffff;
	text-align: center; 	
}
/* Especificidad =  011 */
a:hover, a:active{
	text-decoration: underline;
}
/* Especificidad =  001 */
ul { 
    list-style-type: square;
}
/* Especificidad =  001 */
video {
	max-width: 100%;
    height: auto;
}
/* Especificidad =  001 */
img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
/* Especificidad =  001 */
audio {
	max-width: 100%;
    height: auto;
  }