/* Especificidad =  001 */
body{
	display: grid;
	grid-template-areas:
    "header"
    "main"
    "footer";
	grid-row-gap: 1.2em;
}

/* Especificidad =  001 */
footer {
	align-self: center;
	grid-area: footer;
}

/* Especificidad =  001 */
main {
	align-self: center;
	grid-area: main;

}

/* Especificidad = 001 */
nav {	
    align-self: center;
}
/* Especificidad =  001 */
header{
	text-align: center;
    grid-area: header;
}

/* Especificidad =  001 */
header,
footer,
nav
{
  margin: 0.8em;
}